.DS_Store
outputs/inductive_biases
.idea/
View_Vocab.xlsx
*.pyc
vocabulary_my_edits.csv
vocabulary_orig.csv
vocabularyorig.csv
Irregular_Plurals.xlsx
irregular_plurals.csv
slurm/adjunct_island.sbatch
slurm/anaphor_gender_agreement.sbatch
slurm/animate_obj_transitive.sbatch
slurm/causative.sbatch
slurm/complex_NP_island.sbatch
slurm/coordinate_structure_constraint_complex_left_branch.sbatch
slurm/coordinate_structure_constraint_object_extraction.sbatch
slurm/coordinate_structure_constraint_subject_extraction.sbatch
slurm/determiner_noun_agreement_1.sbatch
slurm/determiner_noun_agreement_2.sbatch
slurm/determiner_noun_agreement_irregular_1.sbatch
slurm/determiner_noun_agreement_irregular_2.sbatch
slurm/determiner_noun_agreement_with_adj_1.sbatch
slurm/determiner_noun_agreement_with_adj_2.sbatch
slurm/determiner_noun_agreement_with_adj_irregular_1.sbatch
slurm/determiner_noun_agreement_with_adj_irregular_2.sbatch
slurm/distractor_agreement_rc.sbatch
slurm/distractor_agreement_relational_noun.sbatch
slurm/drop_argument.sbatch
slurm/ellipsis_n_bar_1.sbatch
slurm/ellipsis_n_bar_2.sbatch
slurm/existential_there_object_raising.sbatch
slurm/existential_there_quantifiers_1.sbatch
slurm/existential_there_quantifiers_2.sbatch
slurm/existential_there_subject_raising.sbatch
slurm/expletive_it_object_raising.sbatch
slurm/inchoative.sbatch
slurm/intransitive.sbatch
slurm/irregular_past_participle_adjectives.sbatch
slurm/irregular_past_participle_verbs.sbatch
slurm/irregular_plural_subject_verb_agreement_1.sbatch
slurm/irregular_plural_subject_verb_agreement_2.sbatch
slurm/left_branch_island_echo_question.sbatch
slurm/left_branch_island_simple_question.sbatch
slurm/matrix_question_npi_licensor_present.sbatch
slurm/npi_present_1.sbatch
slurm/npi_present_2.sbatch
slurm/only_npi_licensor_present.sbatch
slurm/only_npi_scope.sbatch
slurm/passive_1.sbatch
slurm/passive_2.sbatch
slurm/principle_A_c_command.sbatch
slurm/principle_A_case_1.sbatch
slurm/principle_A_case_2.sbatch
slurm/principle_A_domain_1.sbatch
slurm/principle_A_domain_2.sbatch
slurm/principle_A_domain_3.sbatch
slurm/principle_A_reconstruction.sbatch
slurm/regular_plural_subject_verb_agreement_1.sbatch
slurm/regular_plural_subject_verb_agreement_2.sbatch
slurm/sentential_negation_npi_licensor_present.sbatch
slurm/sentential_negation_npi_scope.sbatch
slurm/sentential_subject.sbatch
slurm/simple_anaphor_number_agreement.sbatch
slurm/subject_islands.sbatch
slurm/superlative_quantifiers_1.sbatch
slurm/superlative_quantifiers_2.sbatch
slurm/that_trace_embedded.sbatch
slurm/that_trace_matrix.sbatch
slurm/tough_vs_raising_1.sbatch
slurm/tough_vs_raising_2.sbatch
slurm/transitive.sbatch
slurm/wh-questions_subj_gap.sbatch
slurm/wh-questions_subj_gap_long-distance.sbatch
slurm/wh-vs-that_no-gap_long-distance.sbatch
slurm/wh_island.sbatch
slurm/wh_questions_obj_gap.sbatch
slurm/wh_questions_obj_gap_long_distance.sbatch
slurm/wh_vs_that_no_gap.sbatch
slurm/wh_vs_that_with_gap.sbatch
results/blimp/blimp-gpt2-large_oneprefix_peephole.jsonl
results/blimp/blimp-gpt2-large_simplelm_peephole.jsonl
results/blimp/blimp-gpt2-large_twoprefix_peephole.jsonl
results/blimp/blimp-lstm_oneprefix_peephole.jsonl
results/blimp/blimp-lstm_simplelm_peephole.jsonl
results/blimp/blimp-lstm_twoprefix_peephole.jsonl
results/blimp/blimp-txl_oneprefix_peephole.jsonl
results/blimp/blimp-txl_peephole.jsonl
results/blimp/blimp-txl_simpleLM_peephole.jsonl
results/blimp/blimp-txl_twoprefix_peephole.jsonl
results/blimp/blimp_full_results.xlsx
results/blimp/blimp_grover_oneprefix_peephole.jsonl
results/blimp/blimp_grover_simplelm_peephole.jsonl
results/blimp/blimp_grover_twoprefix_peephole.jsonl
results/blimp/blimp_lstm_breakdown.tsv
results/blimp/blimp_lstm_full.tsv
results/blimp/blimp_ngram_simplelm_peephole.jsonl
results/blimp/blimp_txl_full.tsv
results/blimp/BLiMP_validation.csv
results/blimp/BLiMP_validation.xlsx
results/blimp/ngram_output1phrase.jsonl
results/blimp/ngram_output2phrase.jsonl
results/blimp/ngram_outputsimpLM.jsonl
slurm/anaphor_number_agreement.sbatch
slurm/animate_subject_passive.sbatch
slurm/animate_subject_transitive.sbatch
slurm/sbatch_generator.sbatch
slurm/wh_questions_object_gap.sbatch
slurm/wh_questions_object_gap_long_distance.sbatch
slurm/wh_questions_subject_gap.sbatch
slurm/wh_questions_subject_gap_long_distance.sbatch
slurm/wh_vs_that_no_gap_long_distance.sbatch
slurm/wh_vs_that_with_gap_long_distance.sbatch
outputs/*
alex_test.py